/* YOUR CUSTOM STYLES */
/* Main Style to Navabar and Carousel ----------------------------------------*/
html,
body,
.view
{
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.0rem;
}

button, input, optgroup, select, textarea{
    font-family: 'Open Sans Condensed' !important;
}

input{
    font-size: 1.3rem !important;
}

.md-form label.active
{
    pointer-events: none !important;
}

b{
    font-weight: bold;
}

a{
    text-align: center;
}

.top-nav-collapse
{
    background-color: #00a5c9;
}

nav.navbar ul.navbar-nav a.nav-link,
a.navbar-brand
{
    font-size: 1.5rem !important;
}

.navbar-toggleable-md .navbar-collapse
{
    height: 3rem;
}

.expand-sm
{
    height: 3.5rem !important;
}

nav.navbar div.container
{
    margin-right: inherit;
}
.navbar.scrolling-navbar,
.navbar.scrolling-navbar.top-nav-collapse
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav .nav-item
{
    vertical-align: bottom !important;
    height: 100% !important
}

.navbar-nav .nav-item .nav-link
{
    height: 100%;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    border-top: 0.3rem solid #00a5c9;
    margin-bottom: auto;
}

.expand-sm .navbar-nav .nav-item .nav-link
{
    padding-top: 0.25rem;
}

.navbar-nav .nav-item.active > .nav-link
{
    background-color: #2BCCFA !important;
    padding-left:  2rem;
    padding-right: 2rem;
    border-top-color: #00695c !important;
    /*height: 4rem;*/
    /*border-bottom-right-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;*/
}

/* Radicado Claro 624565029*/

.navbar-nav .nav-item:hover > .nav-link
{
    background-color: #2BDCFA !important;
    box-shadow: 0 0 0.2rem #2BCCFA;
    padding-left:  2rem;
    padding-right: 2rem;
    color: #4B515D !important;
    border-top-color: #00695c !important;
}

footer.page-footer
{
    background-color: #ffffff;
    margin-top: 0;
}

footer.page-footer a
{
    color: #212121;
}


@media only screen and (max-width: 768px)
{
    .navbar
    {
        background-color: #00a5c9;
    }
    .objects-init
    {
        margin-top: 3rem;
    }
    .navbar-toggleable-md .navbar-collapse
    {
        height: auto;
    }
    .navbar-nav .nav-item .nav-link
    {
        padding-top: 0.5rem;
        border-top: 0;
    }
}
@media only screen and (max-height: 480px)
{
    .objects-init
    {
        margin-top: 7rem;
    }
}

/* Buttons Style **************************************************************/
button.btn-lg{
    font-size: 15px !important
}

button.btn-personalized{
    background-color: #316f68;
}

.btn.btn-sm
{
    font-size: 0.8rem;
}
/* Error Div   ---------------------------------------------------------------*/

div.error
{
    position: relative;
    top: -0.5rem;
    left: 0rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color:#CC0000 !important;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
/* Scroll To Top Button ------------------------------------------------------*/
.scroll-top-wrapper
{
    position: fixed;
    opacity: 0;
    visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #00a5c9;
	color: #eeeeee;
	width: 50px;
	height: 50px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover
{
	background-color: #2BBBAD;
}
.scroll-top-wrapper.show
{
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}

/* Carousel ------------------------------------------------------------------*/

.carousel,
.carousel-item,
.active
{
    height: 100%;
}

.carousel-inner
{
    height: 100%;
}

.carousel .carousel-item video
{
    width: 100% !important;
    height: auto;
    min-height: 100%;
    object-fit: cover;
}

.view
{
    width: 100%;
}

.carousel-caption
{
    height: 100%;
    padding-top: 7rem;
}
/**************************************************************************/
/**************             Personalized Tabs            ******************/
/**************************************************************************/
.wizard
{
    background: transparent;
}

.wizard .nav-tabs
{
    position: relative;
    margin: 1rem auto;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner
{
    position: relative;
}

.connecting-line
{
    height: 3px;
    background: #00a5c9;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 0;
}

span.round-tab
{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #00a5c9;
    z-index: 2;
    left: 0;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
span.round-tab i
{
    color:#00a5c9 !important;
}
/********************* Active Tab *********************/
.wizard a.active span.round-tab
{
    background: #00a5c9;
    border: 2px solid #2BBBAD;
}
.wizard a.active span.round-tab i
{
    color: #FFF !important;
}
/****************** Hover Round Tab *******************/
span.round-tab:hover
{
    border: 2px solid #2BBBAD;
    box-shadow: 0 0 15px #2BBBAD;
    transition: all 0.4s ease-in-out;
    transform: rotateY(360deg);
    background: #00a5c9;
}

span.round-tab:hover > i
{
    color: #FFF !important;
}

ul.nav-tabs li.nav-item a.disabled
{
    pointer-events: none;
}

.wizard .nav-tabs > li
{
    width: 25%;
}

.wizard li:after
{
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard a.active:after
{
    content: " ";
    position: absolute;
    left: 47%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 0.6rem solid transparent;
    border-bottom-color: #2BBBAD;
}

.wizard .nav-tabs > li a
{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover
{
    background: transparent !important;
}

.wizard .tab-pane
{
    position: relative;
    padding-top: 0.5rem;
}


@media( max-width : 585px )
{

    .wizard
    {
        width: 90%;
        height: auto !important;
    }

    span.round-tab
    {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a
    {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard a.active:after
    {
        content: " ";
        position: absolute;
        left: 35% !important;
    }
}


/******************************************************************************/
/*******************      Select Style for Boostrap     ***********************/
/* YOUR CUSTOM STYLES */
.dropdown-toggle.btn-default
{
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu
{
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden
{
    display:none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a
{
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.bootstrap-select > .dropdown-toggle > span.filter-option
{
    float: inherit !important;
}

.dropdown-menu > li.active > a
{
    color: #fff !important;
    background-color: #337ab7 !important;
}

.bootstrap-select .check-mark::after
{
    content: "✓";
}

.bootstrap-select .bs-caret::after, .bootstrap-select::after
{
    display: none !important;
}

.bootstrap-select button
{
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Make filled out selects be the same size as empty selects */
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
    display: inline !important;
}

.md-form .btn.dropdown-toggle
{
    margin-bottom: 0 !important;
}
