<nav class="navbar navbar-expand-lg navbar-expand-md navbar-toggleable-md navbar-dark fixed-top scrolling-navbar white-text">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#mainNavbar"
                aria-controls="mainNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <logo>
            <a class="navbar-brand white-text"
               href="{% url 'init-view' %}">
                <strong>
                    Usabilidad Web
                </strong>
            </a>
        </logo>

        <div class="collapse navbar-collapse center-on-small-only" id="mainNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" id="item-main">
                    <a class="nav-link"
                       href="{% url 'init-view' %}">
                        Inicio
                    </a>
                </li>
                <li class="nav-item" id="item-popu">
                    <a class="nav-link" href="{% url 'grade-works' %}">
                        Población
                    </a>
                </li>
                <li class="nav-item" id="item-empt">
                    <a class="nav-link"
                       href="#">
                        Analísis
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
